<div id="display-variants">
    <div class="box-body">
        <div class="table-responsive">
            <table class="table no-margin">
                <thead>
                <tr>
                    <th>Order #</th>
                    <th>Type</th>
                    <th>Warehouse</th>
                    <th>Status</th>
                    <th>Due</th>
                    <th>Last Updated</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>BB Chattanooga WH Textile Lane</td>
                    <td><span class="label label-default">Recieved</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>Dallas</td>
                    <td><span class="label label-success">Active</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>BB Chattanooga WH Textile Lane</td>
                    <td><span class="label label-default">Recieved</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>Dallas</td>
                    <td><span class="label label-info">Completed</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>Dallas</td>
                    <td><span class="label label-success">Active</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>Ocean - JAS Houston</td>
                    <td><span class="label label-info">Completed</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>Ocean - JAS Houston</td>
                    <td><span class="label label-info">Completed</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                <tr>
                    <td><a href="">OR9842</a></td>
                    <td>Stock Transfer</td>
                    <td>Ocean - Los Angeles</td>
                    <td><span class="label label-info">Completed</span></td>
                    <td>Sept 1 2016</td>
                    <td>Nov 1 2016</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>