<div class="table" style="background-color: #EFEFEF;">
    <center><h2>Distributor Order Form</h2></center>
    <form class="form-horizontal">
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    {% verbatim %}
                        <select class="form-control" id="warehouse" style="width: 100%;margin: 24px 0 16px;"
                            ng-model="cart['warehouse']"
                            ng-change="warehouseChange()"
                            ng-options="option.name for option in warehouses track by option.id" required>
                            <option value="" >Warehouse</option>
                        </select>
                        {% endverbatim %}

                </div>
                <div class="col-md-2" style="margin-top: 15px; margin-left: 15px; display: inline-flex;">
                    <input type="checkbox" ng-model="form_info['ship']" name="shipping" id="shipping" class="input_class_checkbox" style="display: inline;margin-right: 8px;" ng-click="shipping()">
                    <label class="checkbox" for="shipping" style="margin-left: 8px; margin-top: -7px;">Ship</label>
                </div>
                <div class="col-md-4" style="margin-top: 15px; margin-left: 15px; display: inline-flex;">
                    <input type="checkbox" ng-model="form_info['pick_up']" name="pick_up" id="pick_up" class="input_class_checkbox" ng-click="pickUp()" style="display: inline;margin-right: 8px;">
                    <label class="checkbox" for="pick_up" style="margin-left: 8px; margin-top: -7px;">Pick Up</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label" for="po">PO#</label>
                    <input id="po" name="po" ng-model="form_info['po']" type="text" class="form_field input-md">
                    <div id="pick_up_agent" style="display: none;">
                        <label class="control-label" for="agent_name">Pick Up Agent Name</label>
                        <input id="agent_name" ng-model="form_info['agent_name']" name="agent_name" type="text" class="form_field input-md">
                    </div>
                </div>
                <div class="col-md-6" style="    margin-bottom: 25px;">
                    <label class="control-label" for="comments">Comments</label>
                    <textarea class="form_field" ng-model="form_info['comments']" id="comments" name="comments" style="min-height: 70px;"></textarea>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div id="pick_up_date" style="display: none;">
                        <label class="control-label" for="pick_up_date">Pick Up Date</label>
                        <md-datepicker ng-model="form_info['pick_up_date']"></md-datepicker>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="table" id='distributor-ship' style="background-color: #EFEFEF; display: none;">
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="ship_name">Name *</label>
            <input id="ship_name" name="ship_name" ng-model="form_info['ship_name']" type="text" class="form_field input-md">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="address">Address *</label>
            <input id="address" name="address" ng-model="form_info['address']" type="text" class="form_field input-md">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="address2">Address 2/Province</label>
            <input id="address2"  ng-model="form_info['address2']" type="text" class="form_field input-md">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label" for="city">City *</label>
            <input id="city" ng-model="form_info['city']" type="text" class="form_field input-md">
        </div>
        <div class="col-md-3">
            <label class="control-label" for="state">ST *</label>
            <input id="state"  ng-model="form_info['state']" type="text" class="form_field input-md">
        </div>
        <div class="col-md-3">
            <label class="control-label" for="zip">Zip *</label>
            <input id="zip" ng-model="form_info['zip']" type="text" class="form_field input-md">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="phone">Phone *</label>
            <input id="phone" ng-model="form_info['phone']" type="text" class="form_field input-md">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="email">Email *</label>
            <input id="email"  ng-model="form_info['email']" type="text" class="form_field input-md">
        </div>
    </div>
</div>