{% extends ':default:layout.html.twig' %}

{% block title %}Warehouse edit{% endblock %}
{% block page_title %}
    Warehouse edit
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warehouse_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
    <style>
        #warehouse_channels {
            overflow: auto;
        }
        #warehouse_channels input, #warehouse_channels label {
            display: inline;
            margin-right: 5px;
        }
    </style>
{% endblock footer %}

{% block content %}
    <div class="table">
    {% include '@Warehouse/Warehouse/form.html.twig' %}
        {#<button type="button" class="btn btn-raised btn-warning" data-toggle="modal" data-target="#deleteModal" id="delete-prompt">Delete</button>#}
    </div>
    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <p>Confirm deletion of warehouse</p>
                </div>
                <div class="modal-body">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-raised btn-warning" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-raised btn-warning" style="margin-top:300px;" data-toggle="modal" data-target="#deleteModal" id="delete-prompt">Delete</button>
{% endblock %}