{% extends ':default:layout.html.twig' %}

{% block title %}Contact Us{% endblock %}
{% block page_title %}
{% endblock page_title %}

{% block page_name %}
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
<style>
    .content-header {
        display:none;
    }

    p{
        font-size:20px !important;
        line-height: 33px;
    }
</style>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="table" style="padding-bottom:150px;">
                <h2>Contact Us </h2>
                <p>To place a product or for immediate support, contact your local distributor or sales representative<br><br>MLILY USA Corporate offices can be reached at <br><a href="#">support@mlilyusa.com</a><br>1-877-475-7768<br>6065 E. Brainerd Rd<br>Chattanooga TN 37421.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-0"></div>
    </div>

{% endblock %}
