{% extends ':default:layout.html.twig' %}

{% block title %}Contact Us{% endblock %}
{% block page_title %}
    Contact Us
{% endblock page_title %}

{% block page_name %}

{% endblock page_name %}

{% block actions %}
{% endblock actions %}
{% block footer %}
<style>
    p{
        font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size:20px;
    }
</style>
{% endblock footer %}

{%  block content %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>To place a product order or for immediate support, contact your local distributor or sales representative.</br></br>

                MLILY USA Corporate offices can be reached at:</br>
                <a href="support@mlilyusa.com">support@mlilyusa.com</a></br>
                1-877-475-7768</br>
                6065 E. Brainerd Rd</br>
                Chattanooga TN 37421.</br>
            </p>
        </div>
        <div class="row">
            {{ form_start(form) }}
                {{ form_widget(form) }}

            {{ form_end(form) }}



        </div>
    </div>
{% endblock %}