{% extends ':default:layout.html.twig' %}

{% block title %}Rebate creation{% endblock %}
{% block page_title %}
    Rebate creation
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('rebate_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-raised btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
