{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });

            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block body %}
    <div class="content-section">
        <h1>Adjustables</h1>
        <p>Discover the perfect compliment to your mattress, and a coveted partner in the best sleep of your life.<br>Each model boasts a unique look and feel to satisfy even the most discriminating sleeper.</p>
        <div class="adjustable-list">
            {% for adjust in adjustables %}
                {% if adjust.hideFrontEnd == false %}
            <div class="row box">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="description">
                        <h3>{{ adjust.name | upper }}</h3>
                        <p>{{ adjust.short_description }}</p>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7 col-xs-12">
                    <div class="img"><img src="{{ adjust.image_url }}" /></div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock body %}
{% block footbox %}
    <div class="copyright">{{ channel.frontFooterText }}</div>
{% endblock %}