{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block body %}
    <div class="content-section">
        <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12">
                <h1 class="text-center">MLILY Advertising Policy Terms and Conditions </h1>
                <p></p>
                <ul>
                    <li>Every print advertisement or online offer for an MLILY product must accurately depict and describe the actual mattress or pillow for sale.
                    </li>
                </ul>
                <ul>
                    <li>Products may only be discounted up to 30% off MSRP in print advertisements, online promotions, or through e-commerce. No published sale price may exceed 30% off the MLILY MSRP.
                    </li>
                </ul>
                <ul>
                    <li>No medical claim may be made regarding the use of MLILY products.&nbsp;
                    </li>
                </ul>
                <ul>
                    <li>No print or online advertisement may directly compare MLILY USA products to any competitor by name or through the use of a trademarked logo.Due to varying federal regulations regarding fire retardants and consumer safety, No product from MLILY USA may be sold outside of the United States, South America, or the Caribbean through any channel without expressed written permission. MLILY USA products are not guaranteed to comply with statutes of foreign governments and therefore should not be imported into any other country.<!--EndFragment-->
                    </li>
                </ul>
                <ul>
                    <li>Product warranty coverage applies to any mattress purchased through a "brick &amp; mortar", traditional, or local retailer. ONLINE purchases must be made through registered Authorized MLILY E-tailers for the product warranty coverage to be in effect. Customers purchasing products online from un-authorized e-commerce sites will not receive product warranty coverage.
                    </li>
                </ul>
                <ul>
                    <li>Failure to comply with these regulations will result in revocation of Retailer or E-tailer privileges including access to products and services. MLILY will employ whatever legal avenue necessary to ensure the enforcement of this Advertising Policy. &nbsp;
                    </li>
                </ul>
                <strong><br></strong>
                <p>&nbsp;</p><span style="font-weight: bold"></span>
                <h3 class="text-center" style="font-size:44px; font-weight:500;">&nbsp;<a href="/model/register_etailer">Register now to become an MLILY Authorized E-tailer!&nbsp;</a></h3>
                </p>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footbox %}
    <div class="copyright">{{ channel.frontFooterText }}</div>
{% endblock %}
{% block footer %}
    <style>
        li{
            text-align: left;
        }


    </style>
{% endblock %}