# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       587 # different ports are available, see SES console
    mailer_encryption: tls # TLS encryption is required

    default_distributor: 1
    default_sales_rep: 1
    default_sales_manager: 1

    warehouse_1: 1
    warehouse_2: 2
    warehouse_3: 3

    authorize_login_id: 3845HahjteBH
    authorize_tansaction_key: 69872hkT4b7WnQVt

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    nacha.uat.host:     b2b02u.bankofamerica.com
    nacha.uat.user:     nacha_uat_user
    nacha.uat.pass:     nacha_uat_pass
    nacha.prod.host:    b2b22.bankofamerica.com
    nacha.prod.user:    nacha_prod_user
    nacha.prod.pass:    nacha_prod_pass

    channel_upload_directory: '%kernel.root_dir%/../web/uploads/websites'
    retailer_recaptcha_secret: 6LcNZAsUAAAAAExNNxEAqidcHy5oWFZ2DOmFqsd7