<script>
    function openFileBrowser() {
        $('#resource_file').click();
    }

    function spinModal(id) {
        var target = document.getElementById(id);
        var spinner = new Spinner(opts).spin(target);
        target.appendChild(spinner.el);
        console.log(id);
    }

    function showErrorInModal(message) {
        $('#error-in-modal').append(
                '<div class="col-lg-12 alert alert-danger alert-dismissable"> ' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"> ' +
                '<span aria-hidden="true">&times;</span> ' +
                '</button> ' +
                message +
                '</div>'
        );
    }

    function autoFillName() {
        if($('#resource_name').val() == "") {
            var fname = $('#resource_file')[0].files[0].name;
            $('#resource_name').val(fname.substr(0, fname.indexOf('.')));
        }
    }

    $(document).ready(function () {
        $('#resource-form').submit(function(e) {
            e.preventDefault();
            spinModal('resource-modal-content');
            $.ajax({
                url: '{{ path('api_save_resource') }}',
                type: 'POST',
                data: new FormData(this),
                contentType: false,
                processData: false,
                success: function (data) {
                            console.log(JSON.stringify(data,null,4));
                    if (!data[0]) {
                        showErrorInModal('Error: ' + data[1]);
                    }
                    else {
                        $('#resourceModal').modal('hide');
                        addRow(data[1]);
                    }
                }
            });
            $('.spinner').hide();
        });
    });
</script>
<div class="form-body">
    <form id="resource-form">
        <div id="error-in-modal" class="row">
        </div>
        <div class="row">
            <div class="col-md-12 form-group is-empty is-fileinput">
                <label for="resource_file" class="required">File</label>
                <div class="input-group">
                    <label class="input-group-btn" style="padding: 0;">
                    <span class="btn btn-file btn-raised">
                        Browse… <input type="file" id="resource_file" name="resource[file]" required="required" onchange="autoFillName()">
                    </span>
                    </label>
                    <input type="text" id="resource_path" name="resource[path]" required="required" class="form-control" style="margin-bottom: 10px; margin-left: 10px;" onclick="openFileBrowser()" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="resource_name" class="required">Name</label>
                <input type="text" id="resource_name" name="resource[name]" class="form-control" style="margin-bottom: 10px" onclick="this.select()" />
            </div>
        </div>
        <input id="submit_btn" class="btn btn-raised btn-success" type="submit" value="Upload" style="float:right" />
    </form>
</div>
