{% extends ':default:layout.html.twig' %}

{% block title %}Price Group{% endblock %}
{% block page_title %}
    Edit Price Group
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('admin_price_group_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    <style>
        #price_group_users label {
            padding-left: 15px;
            padding-right: 15px;

        }
    </style>
    <div class="well bs-component">
        <h2>{{ priceGroup.name }}</h2>
        <hr>
    </div>


{% endblock %}
