<a href="#" class="btn btn-raised btn-success btn-block" data-toggle="modal" data-target="#product-variant-modal">
    <i class="fa fa-plus"></i>
    Add Variant
</a>
<hr>
<div id="display-variants">
    <div class="box">
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Sku</th>
                    <th>MSRP</th>
                    <th>Dimensions</th>
                    <th>Fedex Dimensions</th>
                    <th style="width: 150px">Options</th>
                </tr>
                </thead>

                <tbody>
                {% verbatim %}
                    <tr ng-repeat="(i, variant) in product_variants track by $index">
                        <td><input class="form-control" type="text" style="width: 100%;" ng-model="variant.name"> </td>
                        <td><input class="form-control" type="text" style="width: 100%;" ng-model="variant.sku"> </td>
                        <td><input class="form-control" type="text" style="width: 100%;" ng-model="variant.msrp"> </td>
                        <td><input class="form-control" type="text" style="width: 100%;" ng-model="variant.dimensions"> </td>
                        <td><input class="form-control" type="text" style="width: 100%;" ng-model="variant.fedex_dimensions"> </td>
                        <td>
                            <a class="btn btn-raised btn-success rich-btn" ng-click="updateProductVariant(variant)"><i class="fa fa-upload" aria-hidden="true"></i></a>
                            <a class="btn btn-raised btn-danger rich-btn" ng-click="removeProductVariant(variant.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endverbatim %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</div>





<div class="modal fade" id="product-variant-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog table">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Variant</h4>
            </div>
            <div class="modal-body">
                <label for="variant_name" class="required">Name</label>
                <input type="text" id="variant_name" name="" required="required" class="form-control" style="margin-bottom: 10px">
                <label for="variant_sku" class="required">SKU</label>
                <input type="text" id="variant_sku" name="" required="required" class="form-control" style="margin-bottom: 10px">
                <label for="variant_msrp" class="required">MSRP</label>
                <input type="text" id="variant_msrp" name="" required="required" class="form-control" style="margin-bottom: 10px">
                <label for="variant_dimensions" class="required">Dimensions</label>
                <input type="text" id="variant_dimensions" name="" required="required" class="form-control" style="margin-bottom: 10px">
                <label for="variant_fedex_dimensions" class="required">Fedex Dimensions</label>
                <input type="text" id="variant_fedex_dimensions" name="" required="required" class="form-control" style="margin-bottom: 10px">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-raised btn-primary" ng-click="addProductVariant()" data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>


