{% extends ":default:layout.html.twig" %}

{% block title %}Edit User{% endblock %}
{% block page_title %}
    Edit User
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('view_users') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block content %}
    {% include "AppBundle:Profile:edit_content_shared.html.twig" %}
{% endblock content %}