<div class="col-md-7 connectedSortable" >
    {% include "AppBundle:Profile:show_user_screen_my_order_history.html.twig" %}
    {% include "AppBundle:Profile:show_user_screen_sales_managers.html.twig" %}
    {% include "AppBundle:Profile:show_user_screen_sales_reps.html.twig" %}
    {% include "AppBundle:Profile:show_user_screen_distributors.html.twig" %}
    {% include "AppBundle:Profile:show_user_screen_retailers.html.twig" %}
</div>